/*This is a start*/
.box
{
  margin: 30px;
}

#headerBox
{
  text-align: center;
  line-height: 2;

}

#inputBox
{
  width: 50%;
  padding 20px;
  margin: auto;
  justify-content: start;

}

#imageOne
{
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

#bottomText
{
  margin: auto;
  width: 50%;
}

.input
{
}

#total
{
  margin-bottom: 2em;
}
