/*This is a start*/
.box
{

}

#headerBox
{
  text-align:center;
  line-height: 2;

}

#inputBox
{
  width: 60%;
  padding 20px;
  margin:auto;
  justify-content:start;

}

#image
{
  margin:auto;
  width: 60%;
}

#bottomText
{
  margin:auto;
  width:60%;
}

.input
{
  margin-bottom: 2em;
}

#total
{
  margin-bottom:2em;
}
